black~=22.0
flake8>=3.7.9, <4.0
ipython>=7.31.1, <8.0
isort~=5.0
jupyter~=1.0
jupyterlab~=3.0
kedro==0.18.0
kedro-telemetry~=0.2.0
nbstripout~=0.4
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest~=6.2
pyspark==3.2.1
pandas==1.4.2
dash==2.3.1
scikit-learn==1.0.2
holidays==0.13
matplotlib==3.5.1
cython==0.29.28
kedro-viz==4.4.0
kedro[Spark]
kedro[Pandas]